

body {
	margin: 5em;
  font-size: 2em;
}

nav {
	width: 99%;
	margin: 0, auto;
}





 nav li {
	display: inline-block;
	font-size:18px;
	font-family: helvetica;
	list-style-type: none;
}


.topmenu {
  background-color: #FFB4B0;
  border: solid black 1px;
  padding: 2px;
  max-width: 100%;
  margin: 1rem;
  float : top;

  }




.topmenu a {
	text-decoration: none;
}



.leftbox {
	background-color: #00ffff;
	 	border: solid black 1px;
	width:40%;
	text-align: center;
	font-size: 16px;
	display: inline-block;
	float:left;
	
}


.leftbox h5 {
	font-size: 14px;
}


.leftbox a {
	text-decoration: none;

}

 .rightbox { 
 	border: solid black 1px;
  width:57%;
  text-align: left;
  background-color: #FEFAC0;
  color: #785616;
  display: inline-block;
  float : right;
   
}

.rightbox h3 {
	font-size: 14px;

}

.rightbox p {
	font-size: 12px;
}

#wrapper {
	margin: 1rem;
	}

select  {

	width: 80%;
	padding: 10px;
}

label {
	width : 60;
	padding: 2px;
}


table {

	display: inline-block;
	

}


.albumOption {
	padding: 1px;
}

.artistOption {
	padding: 1px;
}

#button { 

margin: 10px;
position:center;

padding: 2px;

}





/****** CSS For Music History 3 ****/


ul > li {
  display: inline;
  list-style-type: none;
  margin: 5px 15px 0 15px;
  padding: 5px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}
