

header {
	width: 99%;
	margin: 1em auto;
}

div #main{
	width:  100%;
	margin: 1em;
}

div .table {

	display: inline-block;
	border-style: 0.5px;
	margin : 0.5em;

}

div .table2 {	
	display: inline-block;
	border-style: 0.5px;
	margin: 0.5em;
}

div .topmenu {
  background-color: #FFB4B0;
  border-color:  black;
  border-style: solid;
  width:  100%;
  padding: auto;
  float: left;
  margin: auto;  
  text-align: left;
  font-margin: 1em;
   position: static

}

.topmenu ul {
	height : 50px;
	padding : auto;
	margin : auto;
	
}

.topmenu li {
	display: inline;
	padding: auto;
	font-size:18px;
	text-shadow: 1px 4px 4px grey;
	font-family: helvetica;
}


.topmenu a {
	text-decoration: none;
}



div .leftbox {
	background-color: #00ffff;
	display: inline;
	position: static;
	border-style: solid;
	width:35%;
	height: 500px;
	padding: auto;
	margin: .5em;  
	text-align: left;
	float: left; 
	font-size: 16px;
	box-shadow: 2px 5px 1px grey; 
	text-shadow: 1px 2px 1px grey;
	
}

.leftbox li {

	display: flex;
	font-family: helvetica;
}

.leftbox h5 {
	font-family:helvetica;
	font-size: 14px;
}
.leftbox a {
	text-decoration: none;

}


table {
	display: block;
}


div .rightbox { 
  border-color: black;
  border-style: solid; 
  width:  60%;
  height: 500px;
  float: right;
  margin: 0.5em auto;
  padding: auto;
  text-align: left;
  background-color: #FEFAC0;
  color: #785616;
  position: static;
  overflow: auto;
 
}

.rightbox h3 {
	font-size: 16px;

}

.rightbox p {
	font-size: 0.8em;
}



